body {
    background: #000000;
}

a, a:hover, a:visited{
    color: white;
}

.nombre {
    font-family: 'Press Start 2P', cursive;
    position: relative;
    bottom: 15px;
    font-size: 10px;
    line-height: 15px;
    background: black;
    background: rgba(0, 0, 0, 0.6);
    color: green;
    width: 65%;
    margin: 0 auto;
    text-align: center;
    pointer-events: none;
}

#reloj-control p{
    color: white;
    font-size: 12px;
    margin: 0;
}

.reloj {
    font-family: 'Press Start 2P', cursive;
    font-size:1.4em;
}
@media(min-width: 800px){
    .reloj{ font-size: 2em; }
}
@media(min-width: 1620px){
    .reloj{ font-size: 4em; }
}

.rec {
    width: 10px;
    height: 10px;
    line-height: 15px;
    animation: fadeIn linear 5s infinite;
    -webkit-animation: fadeIn linear 5s infinite;
    -moz-animation: fadeIn linear 5s infinite;
    -o-animation: fadeIn linear 5s infinite;
    -ms-animation: fadeIn linear 5s infinite;
}

.boton-modal{
    color: white;
    font-size: 3em;
    opacity: 0.2;
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
}

@media(min-width: 800px){
    .boton-modal{ bottom: 1em; right: 1em; }
}
@media(min-width: 1620px){
    .boton-modal{ font-size: 4em; bottom: 1.5em; right: 1.5em; }
}

.boton-modal:hover{
    opacity: 1;
}
.boton-modal .fa-plus-circle{
    cursor: pointer;
}

#modal-selecta .modal-body button {
    margin-right: 1em;
    width: 40%;
    margin-bottom: 0.5em;
}
@media(min-width: 800px){
    #modal-selecta .modal-body button{ width: 29%; }
}
@media(min-width: 1620px){
    #modal-selecta .modal-body button{ width: 25%; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 1; }
}
